:root{
    --brand-color: #066fa6;
    --darkest-color: #121f25;
    --dark-color: #b42225;
    --mid-color: #db3c36;
    --light-color: #ccd0cf;
    --lightest-color: #fef8f8;

    --darkest-color-aa: #121f25aa;
    --darkest-color-80: #121f2580;
    --darkest-color-33: #121f2533;
    --light-color-aa: #ccd0cfaa;
    --lightest-color-33: #fef8f833;
    --lightest-color-11: #fef8f811;

    --camara-gradient: linear-gradient(#2a7982, #0b1f4b, #462d7a, #a840aa);
    --red-gradient: linear-gradient(#8d317e, #c11f35, #da453f);
    --yellow-gradient: linear-gradient(#c78041, #e7ee26, #51a33f);
    --green-gradient: linear-gradient(#999952, #20a448, #47935d);
    --shiny-gradient: linear-gradient(135deg, #aebbff 10%, #92b2ff, #8ad3ff, #b6fffd, #71fff1);

    --shadow-small: 1px 1px 2px var(--darkest-color-33), 
    3px 3px 5px var(--darkest-color-33), 
    -1px -1px 2px var(--lightest-color-33), 
    -3px -3px 5px var(--lightest-color-33);

    --shadow-big: -2px -2px 5px var(--light-color-aa), 
    inset 10px 10px 50px var(--darkest-color-33), 
    inset 1px 1px 3px var(--darkest-color-33), 
    3px 3px 10px var(--darkest-color-33), 
    2px 2px 2px var(--darkest-color-33);

    --shadow-screen: inset 1px 1px 50px var(--darkest-color-33)
    ,inset 1px 1px 10px var(--darkest-color-33)
    , inset -5px -5px 15px var(--light-color-aa)
    , inset -3px -3px 2px var(--lightest-color-33);

    --shadow-disc: -1px -1px 1px var(--lightest-color-33), 
    1px 1px 1px var(--darkest-color-33), 
    inset -3px -3px 3px var(--darkest-color-33), 
    inset 5px 5px 3px var(--lightest-color-33), 
    inset 2px 2px 2px var(--light-color-aa);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    background-color: var(--darkest-color);
    
    font-family: sans-serif;
}

main {
    --background-color: var(--mid-color);
    --border-color: var(--dark-color);

    display: grid;
    grid-template-columns: 1fr 2rem 2rem 1fr;
    grid-template-rows: 5rem .5rem 1fr .5rem;
}

.pokedex{
    width: 450px;
    height: 690px;
    border-radius: 10px;
}

.rightSide{
    grid-area: 1/1/4/3;

    background-color: var(--background-color);
    border: 3px solid var(--border-color);
    padding: 11rem 2rem 0 0;
    
    position: relative;
}

.cameraBox{
    width: 100%;
    height: 11rem;

    background-image: url("/img/camera.svg");
    background-position: center;
    background-size: 100% 100%;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.camera{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6rem;
    height: 6rem;
    background-color: var(--lightest-color);
    border-radius: 50%;
    box-shadow: 0 0 2px 3px var(--darkest-color-aa);
    
    position: absolute;
    top: 20%;
    left: 10%;
}

.cameraLens{
    width: 4.5rem;
    height: 4.5rem;
    background-image: var(--camara-gradient);
    border-radius: 50%;
    border: 2px solid var(--darkest-color);

    position: relative;
}

.cameraLens::after{
    content: '';

    width: 40%;
    height: 40%;
    background-color: var(--lightest-color);
    border-radius: 4rem 50%;
    box-shadow: 0 0 10px 5px var(--lightest-color);

    position: absolute;
    top: 15%;
    left: 15%;
}

.lens{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 0 1px 2px var(--darkest-color-aa);

    position: absolute;
    top: 10%;
}

.lens::after{
    content: '';

    width: 40%;
    height: 40%;
    background-color: var(--lightest-color);
    border-radius: .7rem 50%;
    box-shadow: 0 0 4px 2px var(--lightest-color);

    position: absolute;
    top: 15%;
    left: 15%;
}

.redLight{
    background-image: var(--red-gradient);

    left: 45%;
}

.yellowLight{
    background-image: var(--yellow-gradient);

    left: 55%;
}

.greenLight{
    background-image: var(--green-gradient);

    left: 65%;
}

.pokemonScreen{
    box-shadow: var(--shadow-big);
    background-color: var(--light-color);
    padding: .5rem 2.5rem;
    margin: 1.75rem 10%;
    border-radius: 5px;
    border-bottom-left-radius: 4rem;

    text-align: end;
    color: var(--darkest-color);

    position: relative;
}

.pokeImg{
    display: block;

    box-shadow: var(--shadow-screen);
    width: 100%;
    height: 185px;
    padding: 0 2rem;
    background-color: #3f82a7;
    background-image: url("/img/screen.svg");
    background-size: 100% 100%;
    border-radius: 5px;
    margin: .25rem 0;
}

.pokeImg[src=""] {
    background-color: #373d40;
    
    font-size: 0;
}

.disc{
    display: inline-block;
    
    width: 1rem;
    height: 1rem;
    background-color: var(--background-color);
    box-shadow: var(--shadow-disc);
    border-radius: 50%;

    position: absolute;
    bottom: 0.75rem;
    left: 2.5rem;
}

.pokemonScreen .pokmonName{
    margin: .25rem 0 .75rem;

    text-transform: capitalize;
    text-align: center;
    font-size: 1rem;
}

.pokemon{
    margin: 2rem 3rem;
}

.pokeTypes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pokeTypes__list{
    display: flex;
    gap: .5rem;
}

.pokeTypes__list > * {
    box-shadow: var(--shadow-small);
    background-color: var(--bg-color);
    padding: .25rem .5rem;
    border: 2px solid var(--darkest-color-33);
    border-radius: 5px;

    color: var(--lightest-color);
    font-size: small;
    font-weight: 700;
    text-transform: uppercase;
}

.normal{--bg-color: #b7b6a3;}
.fire{--bg-color: #ff5f3e;}
.water{--bg-color: #51a8ff;}
.electric{--bg-color: #ffd34c;}
.grass{--bg-color: #8bd369;}
.ice{--bg-color: #7dd3fa;}
.fighting{--bg-color: #c56d5b;}
.poison{--bg-color: #b76da3;}
.ground{--bg-color: #e2c469;}
.flying{--bg-color: #9aa7fa;}
.psychic{--bg-color: #ff6ea8;}
.bug{--bg-color: #b7c43e;}
.rock{--bg-color: #c5b678;}
.ghost{--bg-color: #7d7cc0;}
.dragon{--bg-color: #8b7cec;}
.drak{--bg-color: #8b6d5b;}
.steel{--bg-color: #b7b6c0;}
.fairy{--bg-color: #f1a7ec;}

.pokeSize{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    box-shadow: var(--shadow-small-screen);
    background-image: url("/img/smallScreen.svg");
    background-size: 100% 100%;
    background-color: var(--darkest-color);
    padding: 1rem 1rem;
    border-radius: 5px;
    margin: 1rem 1rem .5rem 3rem;

    color: var(--light-color);
}

.pokeSize p{
    position: relative;
}

.indexPage{
    color: var(--light-color);
    font-size: 1.5rem;
    
    position: absolute;
    bottom: 9rem; 
    left: 2rem;
}

.indexPage i{
    display: inline-block;
    
    width: 2.25rem;
    padding: .25rem 0;
    box-shadow: var(--shadow-small);
    background-color: var(--darkest-color);
    border: 2px solid var(--light-color);
    border-radius: 50%;

    text-align: center;
}

button{
    border: none;
    background: none;
}

.buttonShiny{
    box-shadow: var(--shadow-small);
    background-color: var(--darkest-color);
    border-radius: 50%;

    font-size: 1.5rem;
    
    position: absolute;
    bottom: 6rem; 
    left: 2rem;
}

.buttonShiny i{
    display: inline-block;

    width: 2.25rem;
    padding: .25rem 0;
    border: 2px solid var(--light-color);
    border-radius: 50%;
    
    background-image: var(--shiny-gradient);
    background-clip: text;
    color: transparent;
    text-align: center;
}

.midSide{
    grid-area: 2/2/5/4;
    
    background-color: var(--background-color);
    border: 3px solid var(--border-color);
    border-bottom-left-radius: 50% 1rem;
    border-bottom-right-radius: 50% 1rem;
    border-top-left-radius: 50% 1rem;
    border-top-right-radius: 50% 1rem;
    overflow: hidden;
    
    position: relative;
    z-index: 1;
}

.midSide::before{
    content: '';
    
    width: 110%;
    height: 80%;
    border: 3px solid var(--border-color);
    border-bottom-left-radius: 50% .75rem;
    border-bottom-right-radius: 50% .75rem;
    border-top-left-radius: 50% .75rem;
    border-top-right-radius: 50% .75rem;
    
    position: absolute;
    top: 10%;
    left: calc(-5% - 3px);
}

.midSide::after {
    content: '';
    
    width: 40%;
    height: 100%;
    background-color: var(--lightest-color-11);
    
    position: absolute;
    top: 0;
    left: 30%;
}

.leftSide{
    grid-area: 3/3/4/4;

    height: 602px;
    background-image: url("/img/leftSide.svg");
    background-position: center;
    background-size: 100% 100%;
    padding: 7.5rem 3rem 3rem 5rem; 
}

.spinner{
    /* display: none; */
    
    width: 4.5rem;
    height: 4.5rem;
    background-image: linear-gradient(var(--dark-color) 45%, 
    var(--darkest-color) 45% 55%, 
    var(--lightest-color) 55%);
    border-radius: 50%;
    border: 2px solid var(--darkest-color);
    box-shadow: inset -5px -5px 5px var(--darkest-color-33),
    inset 5px 5px 5px var(--lightest-color-33);
    
    position: absolute;
    top: 20%;

    animation: spinner 700ms infinite ease;
    /* animation: spinner 700ms infinite linear; */
}

.pokemonSpinner{
    top: 44%;
    left: 38%;
}

.spinner::before{
    content: '';
    
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--lightest-color);
    border: 1.5px solid var(--darkest-color);
    border-radius: 50%;
    box-shadow: inset 0 0 2px var(--darkest-color-80);
    
    box-sizing: border-box;
    
    position: absolute;
    top: calc(50% - (1.5rem / 2));
    left: calc(50% - (1.5rem / 2));
    z-index: 1;
}

.spinner::after{
    content: '';
    
    width: 1rem;
    height: 1rem;
    background-color: var(--lightest-color);
    border: 1px solid var(--darkest-color);
    border-radius: 50%;
    box-shadow: inset 0 0 2px var(--darkest-color-80);

    box-sizing: border-box;
    
    position: absolute;
    top: calc(50% - (1rem / 2));
    left: calc(50% - (1rem / 2));
    z-index: 1;
}

@keyframes spinner{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.searchForm{
    box-shadow: var(--shadow-small-screen);
    background-image: url("/img/smallScreen.svg");
    background-size: 100% 100%;
    background-color: var(--darkest-color);
    border-radius: 5px;
    margin: 0 0 1.5rem;
}

.searchForm select{
    background-color: var(--darkest-color);
    border: none;
    padding: .25rem 1rem;
    border-top-left-radius: 10px;
    
    color: var(--light-color-aa);
    text-transform: capitalize;
}

.search{
    background-color: transparent;
    width: 100%;
    padding: 1rem 1rem 2rem;
    border: none;

    color: var(--lightest-color);
}

li {
    list-style: none;
}

.searchResult{
    display: grid;
    gap: 2px;
    
    background-color: var(--darkest-color);
    overflow: hidden;
    border: 2px solid var(--darkest-color);
    border-radius: 10px;
    box-shadow: var(--shadow-big);
}

.searchResult a {
    --background: var(--brand-color);
    --color: var(--lightest-color);
    
    display: block;
    
    box-shadow: inset -5px -5px 3px var(--darkest-color-33), 
    inset 5px 5px 3px var(--lightest-color-33);
    background-color: var(--background);
    padding: .25rem .5rem;
    
    color: var(--color);
    text-decoration: none;
    text-transform: capitalize;
}

.searchResult a:focus{
    --color: var(--light-color-aa);
    --background: var(--darkest-color);
}

.flipPage{
    display: flex;
    justify-content: space-between;

    padding: .5rem;
}

.flipPage a, .flipPage button{ 
    color: var(--light-color);
    font-size: 1.5rem;
}

.flipPage a i, .flipPage button i{
    display: inline-block;

    width: 2.25rem;
    padding: .25rem 0;
    box-shadow: var(--shadow-small);
    background-color: var(--darkest-color);
    border: 2px solid var(--light-color-aa);
    border-radius: 50%;

    text-align: center;
}